
.contentMain {
  height: 100%;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.items {
  justify-content: center;
  align-content: center;
}
